{% extends 'index.html' %}

{% block body %}

		<div id="site-content">
			<main class="main-content">
				<div class="container">
					<div class="page">
						<div class="breadcrumbs">
							<a href="{{url_for('home')}}">Home</a>
							<span>About us</span>
						</div>

						<div class="row">
							<div class="col-md-4">
								<figure><img src="../static/img/figure1.jpg" alt="figure image"></figure>
							</div>
							<div class="col-md-8">
								<p class="leading">Latest Movie Reviews:Check out movie reviews of Tollywood, Bollywood and Regional movies by Entertaunment-Hub. You can find both critic reviews and audience ....</p>
								<p>We all like critic, that’s what makes watching independent films so rewarding. When we walk out of the cinema there is nothing more delightful than spewing our own thoughts and feelings of the film..</p>
							</div>
						</div>

						<div class="row">
							<div class="col-md-9">
								<h2 class="section-title">Vision &amp; Misssion</h2>
								<p>To tell the fairness of the film. The supernatural depth of the film. Archiving the spreading of negativity of the content in the film. Works like an alarm to remainding you to tell about the details of the talkie. The main ambition is to tell about the visually delightful of the movie to the world.</p>

								<p>Apart of them increase the range of a talkie among who is spreading negativity of the film. Films are like a delicious food. To improve the good impression about the talkie. A movie is a brilliant art by an unit who were working to stand up the standards of their industry.</p>
							</div>
						</div> <!-- .row -->
						
						<h2 class="section-title">Our Team</h2>
						<div class="row">

							<div class="col-md-3">
								<div class="team">
									<figure class="team-image"><img src="../static/img/person-1.jpeg" alt=""></figure>
									<h2 class="team-name">Saradhi Tungala</h2>
									<small class="team-title">Co-founder</small>
									<div class="social-links">
										<a href="" class="facebook"><i class="fa fa-facebook"></i></a>
										<a href="" class="twitter"><i class="fa fa-twitter"></i></a>
										<a href="" class="google-plus"><i class="fa fa-google-plus"></i></a>
										<a href="" class="pinterest"><i class="fa fa-pinterest"></i></a>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="team">
									<figure class="team-image"><img src="../static/img/person-2.jpg" alt=""></figure>
									<h2 class="team-name">Dinesh Redrouthu</h2>
									<small class="team-title">Managing Director</small>
									<div class="social-links">
										<a href="" class="facebook"><i class="fa fa-facebook"></i></a>
										<a href="" class="twitter"><i class="fa fa-twitter"></i></a>
										<a href="" class="google-plus"><i class="fa fa-google-plus"></i></a>
										<a href="" class="pinterest"><i class="fa fa-pinterest"></i></a>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="team">
									<figure class="team-image"><img src="../static/img/person-3.jpg" alt=""></figure>
									<h2 class="team-name">Harsha Medisetty</h2>
									<small class="team-title">Reviewer</small>
									<div class="social-links">
										<a href="" class="facebook"><i class="fa fa-facebook"></i></a>
										<a href="" class="twitter"><i class="fa fa-twitter"></i></a>
										<a href="" class="google-plus"><i class="fa fa-google-plus"></i></a>
										<a href="" class="pinterest"><i class="fa fa-pinterest"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div> <!-- .container -->
			</main>
		</div>
		<!-- Default snippet for navigation -->
		

{% endblock%}		