{% extends 'index.html' %}

{% block body %}



<div id="site-content">
    <main class="main-content">
        <div class="container">
            <div class="page">
                <div class="row">
                    <div class="col-md-9">
                        <div class="slider">
                            <ul class="slides">
                                <li><a href="vakeelsab-single.html"><img style="height: 600px;width: 1000px" src="../static/img/slide-1.jpg" alt="Slide 1"></a></li>
                                <li><a href="jatiratnalu-single.html"><img style="height: 600px;width: 1000px" src="../static/img/slide-2.jpg" alt="Slide 2"></a></li>
                                <li><a href="uppena-single.html"><img style="height: 600px;width: 1000px" src="../static/img/slide-3.jpg" alt="Slide 3"></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-sm-6 col-md-12">
                                <div class="latest-movie">
                                    <a href="slne-single.html"><img style="height: 290px;width: 298px" src="../static/img/thumb-11.jpg" alt="Movie 1"></a>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-12">
                                <div class="latest-movie">
                                    <a href="wilddog-single.html"><img style="height: 280px;width: 298px" src="../static/img/wilddog.jpg" alt="Movie 2"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 

                <!-- .row -->
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="latest-movie">
                            <a href="avpl-single.html"><img style="height: 330px;width:298px" src="../static/img/avpl.jpg" alt="Movie 3"></a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="latest-movie">
                            <a href="aranya-single.html"><img style="height: 330px;width:298px" src="../static/img/aranya.jpg" alt="Movie 4"></a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="latest-movie">
                            <a href="krack-single.html"><img style="height: 330px;width:298px" src="../static/img/krack.jpg" alt="Movie 5"></a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="latest-movie">
                            <a href="a1express-single.html"><img style="height: 330px;width:298px" src="../static/img/a1express.jpg" alt="Movie 6"></a>
                        </div>
                    </div>
                </div> <!-- .row -->
                
                <div class="row">
                    <div class="col-md-4">
                        <h2 class="section-title">upcomimg movies</h2>
                        <p>movies</p>
                        <ul class="movie-schedule">
                            <li>
                                <div class="date">25/05/2021</div>
                                <h2 class="entry-title"><a href="https://in.bookmyshow.com/mysuru-mysore/movies/acharya/ET00131903" target="_blank">Acharya</a></h2>
                            </li>
                            <li>
                                <div class="date">31/05/2021</div>
                                <h2 class="entry-title"><a href="#">Virataparvam</a></h2>
                            </li>
                            <li>
                                <div class="date">15/06/2021</div>
                                <h2 class="entry-title"><a href="#">K.G.F-2</a></h2>
                            </li>
                            <li>
                                <div class="date">21/07/2021</div>
                                <h2 class="entry-title"><a href="#">Gani</a></h2>
                            </li>
                        </ul> <!-- .movie-schedule -->
                    </div>
                    <div class="col-md-4">
                        <h2 class="section-title">upcoming movies </h2>
                        <p>Movies</p>
                        <ul class="movie-schedule">
                            <li>
                                <div class="date">28/07/2021</div>
                                <h2 class="entry-title"><a href="#">pushpa</a></h2>
                            </li>
                            <li>
                                <div class="date">15/08/2021</div>
                                <h2 class="entry-title"><a href="#">Pspk-27</a></h2>
                            </li>
                            <li>
                                <div class="date">9/09/2021</div>
                                <h2 class="entry-title"><a href="#">RRR</a></h2>
                            </li>
                            <li>
                                <div class="date">15/9/2021</div>
                                <h2 class="entry-title"><a href="#">sarkarivaripata</a></h2>
                            </li>
                        </ul> <!-- .movie-schedule -->
                    </div>
                    <div class="col-md-4">
                        <h2 class="section-title">upcoming movies</h2>
                        <p>movies</p>
                        <ul class="movie-schedule">
                            <li>
                                <div class="date">02/10/2021</div>
                                <h2 class="entry-title"><a href="#">republic</a></h2>
                            </li>
                            <li>
                                <div class="date">20/10/2021</div>
                                <h2 class="entry-title"><a href="#">akhandaa</a></h2>
                            </li>
                            <li>
                                <div class="date">09/11/2021</div>
                                <h2 class="entry-title"><a href="#">F3</a></h2>
                            </li>
                            <li>
                                <div class="date">18/12/2021</div>
                                <h2 class="entry-title"><a href="#">calling sahasra</a></h2>
                            </li>
                        </ul> <!-- .movie-schedule -->
                    </div>
                </div>
            </div>
        </div> <!-- .container -->
    </main>
</div>
{% endblock %}
